#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	install -Dm644 assets/wows-extractor.desktop \
		$(CURDIR)/debian/wows-extractor-gui/usr/share/applications/wows-extractor.desktop
	install -Dm644 assets/wows-extractor.png \
		$(CURDIR)/debian/wows-extractor-gui/usr/share/icons/hicolor/256x256/apps/wows-extractor.png

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
